// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.header-global {
	height: 90px;
	margin-bottom: 20px;
}
#navbar-main {
	border-bottom: 1px solid grey;
}
a.nav-link {
	color: #000000;
}
a.nav-link:hover {
	color: #f4645f !important;
}
.form-control.error {
	border-color: #ff0000;
}
.form-control.error:focus {
    color: #495057;
    border-color: #ff0000;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
.form-text.text-muted.error {
	color: #ff0000 !important;
}
[data-notify="container"] {
	width: 210px;
}